<appSettings>
  <!-- SendGrid-->
  <add key="mailAccount" value="confirmvidly@gmail.com" />
  <add key="mailPassword" value="Vidly@123" />
  <add key="sendGridApiKey" value="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" />
  <!--close-->
  <!--file-->
  <add key="fileSize" value="200" /><!--in kb-->
  <add key="thumbnailWidth" value="348" />
  <add key="thumbnailHeight" value="235" />
  <add key="thumbnailLocation" value="~/Content/assets/Movies/Thumbnails" />
  <add key="imageLocation" value="~/Content/assets/Movies/PreviewImages" />


  <!--close-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>