@{
    /**/

    ViewBag.Title = "Movie List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/main")

<div class="form-login100">
    <div class="container">
        <div class="dataTableLimiter dataList">
            <h5><u><strong>@ViewBag.Title</strong></u></h5>
            <table class="table table-bordered" id="movieTable" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Movie</th>
                        <th>Genre</th>
                        <th>Release Date</th>
                        <th>Number Available</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>


        </div>
    </div>
</div>


@*<h5><u><b>@ViewBag.Title</b></u></h5>

    <table class="table table-bordered" id="movieTable">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Number Available</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>*@

@section scripts{
    <script>
        $(function () {
            $("#movieTable").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [{
                    data: "name",
                    render: function (data) {
                        return data;
                    }
                },
                {
                    data: "genre",
                    render: function (data) {
                        return data.name;
                    }
                },
                {
                    data: "releaseDate",
                    render: function (data) {
                        var releaseDate = moment(data).format('MM/DD/YYYY');
                        return releaseDate;
                    }
                },
                {
                    data: "numberAvailable",
                    render: function (data) {
                        return data;
                    }
                }
                ]



            })
        })
    </script>
}

