@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
@Styles.Render("~/Content/main")

<div class="body-content">
    <div class="limiter">
        <div class="container-login100">

            <div class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-20">
                <p class="bg-danger"> <b>Error !</b></p>
                <br />
                <p>
                    <strong>
                        An error occurred while processing your request.
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>
